header{
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Nova Flat', cursive;
}

h1{
    margin-bottom: 10px;
    font-size: 2.9rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    background-color: dimgray;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    border: 5px inset goldenrod;
    font-family: 'Share Tech Mono', monospace;
    font-size: 7rem;
    color: white;
    text-align: center;
}

div{
    margin-top: 20px;
}

button{
    width: 75px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    outline: none;
    font-family: 'Nova Flat', cursive;
    font-size: 1rem;
    color: white;
}

button:hover{
    cursor: pointer;
}

button:first-child, button:nth-child(2) {
    margin-right: 10px;
}